.homeQuickInrst {
    padding: 2rem 0;
    background: #347ee7;
    color: #fff;
    .homeQuickInrst__leftHead {
        h2 {
            text-transform: uppercase;
        }
    }
    .homeQuickInrst__findYourCourseBtn {
        padding: 1.5rem 5rem;
        color: #fff;
        text-transform: uppercase;
        background: #003e96;
        font-size: 1.2rem;
        border-radius: 0 0.5rem 0 0.5rem;
    }
}