.homeKnowExpert {
    padding: 5rem 0;
    .homeKnowExpert__imgBox {
        // height: 10rem;
        img {
            height: 100%;
            object-fit: contain;
            width: 100%;
        }
    }
    &__title {
        h2 {
            color: #000;
            span:first-child {
                font-size: 1.7rem;
                color: #347ee7;
                font-weight: light;
            }
            span:last-child {
                font-size: 3rem;
            }
        }
    }
    &__text {
        padding: 1rem 0;
        p {
            font-size: 1.2rem;
        }
        color: darkgray;
    }
    &__btnBox {
        margin: 1rem 0;
    }
    &__knowMoreBtn {
        padding: 1rem 5rem;
        color: #fff;
        text-transform: uppercase;
        background: #347ee7;
        font-size: 1.2rem;
        border-radius: 0 0.5rem 0 0.5rem;
    }
}